<div class="main">
  <h1>redmine Analysis</h1>

  <form>
    <input ng-model="host" placeholder="Host"></input>
    <input ng-model="port" placeholder="Port"></input>
    <input ng-model="apikey" placeholder="API Key"></input>

    <select ng-if="redmine" ng-model="project" ng-options="p.id for p in projects">
      <option value="">-- choose project --</option>
    </select>

    <a ng-if="host && port && apikey && !redmine" ng-click="connect()">Connect</a>
    <a ng-if="redmine" ng-click="retrieve()">Retrieve</a>
  </form>

</div>
